:root {
  --main-front: "Plus Jakarta Sans", sans-serif;
  --second-front: "Poppins", sans-serif;
  --third-front: "Playfair Display", sans-serif;
  --white-color: #ffffff;
  --blue-color: #f2f7ff;
  --dark-color: #094b72;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/*==========COMPONENTS==========*/
/*========== END COMPONENTS==========*/

/*==========HEADER==========*/
.header .container {
  font-family: var(--second-front);
  font-weight: 12;
  color: #f4f5f7;
  background-color: var(--white-color);
}
/*==========END HEADER==========*/

/*==========HERO==========*/
.hero .container {
  font-family: var(--main-front);
  background-color: var(--white-color);
}
/*==========END HERO==========*/

/*==========WHY==========*/
.why .container {
  font-family: var(--third-front);
  background-color: var(--blue-color);
}
/*==========END WHY==========*/

/*==========ACHIVEMENTS==========*/
.achivements .container {
  font-family: var(--second-front);
  color: #ffffff;
  background-color: var(--dark-color);
}
/*==========END ACHIVEMENTS==========*/

/*==========TESTIMONIALS==========*/
.testimonials .container {
  font-family: var(--second-front);
  background-color: var(--blue-color);
}
/*==========END TESTIMONIALS==========*/

/*==========CONSULTANT==========*/
.consultant .container {
  font-family: var(--second-front);
  background-color: var(--white-color);
}
/*==========END CONSULTANT==========*/

/*==========FOOTER==========*/
.footer .container {
  font-family: var(--second-front);
  color: #f4f5f7;
  background-color: var(--dark-color);
}
/*==========END FOOTER==========*/
